
.vs/CoDBO3-RPC/FileContentIndex/2286212d-fe46-4b65-8c5a-61f506bd0507.vsidx
.vs/CoDBO3-RPC/FileContentIndex/397dd0bf-3a02-426b-8e0d-6ede45b894ea.vsidx
.vs/CoDBO3-RPC/FileContentIndex/9a06ded3-2619-4842-8c64-51876d18e39c.vsidx
.vs/CoDBO3-RPC/FileContentIndex/cdd46b4b-cedd-458c-8ad0-fe8237685202.vsidx
.vs/CoDBO3-RPC/FileContentIndex/read.lock
.vs/CoDBO3-RPC/v17/.suo
.vs/CoDBO3-RPC/v17/Browse.VC.db
.vs/CoDBO3-RPC/v17/Browse.VC.db-shm
.vs/CoDBO3-RPC/v17/Browse.VC.db-wal
.vs/CoDBO3-RPC/v17/Browse.VC.opendb
.vs/CoDBO3-RPC/v17/ipch/AutoPCH/a4d26ec5e0bb7824/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/CoDBO3-RPC/FileContentIndex/084a6e87-ce96-4700-9bc9-83ea30d38f9a.vsidx
.vs/CoDBO3-RPC/FileContentIndex/19a55aec-49fa-47cc-84a4-e948f389e653.vsidx
.vs/CoDBO3-RPC/FileContentIndex/a8d6084b-0ecf-47c5-a54b-9198bebd0eaf.vsidx
.vs/CoDBO3-RPC/FileContentIndex/d0bf0b54-9aaf-404e-a79c-64ee6b9d3db3.vsidx
.vs/CoDBO3-RPC/FileContentIndex/43d94570-f8ef-4b66-b021-ec4a76a7b913.vsidx
.vs/CoDBO3-RPC/FileContentIndex/1f5e0214-af02-4b00-b3aa-ace923ac3c22.vsidx
*.vsidx
